<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <h2>Vos Factures</h2>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Date</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr table-row *ngFor="let facture of this.cmd.factures | sort:'id_facture' ">
          <td> {{facture.id_facture}} </td>
          <td> {{facture.date}} </td>
          <td> {{facture.total}} </td>
          <td>
            <a class="btn btn-primary mr-3" [routerLink]="['/facture', this.facture.id_facture]" routerLinkActive="router-link-active">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <span>Voir</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
